<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аптеки Рима - Комментарии</title>
</head>
<body>
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="pharmac">
                {% for pharm in pharmacy%}
                <input type="checkbox" value="{{ pharm }}" name="pharmacy" id="{{ pharm }}">
                <label for="{{ pharm }}" >{{ pharm }}</label>
                {% endfor %}
            </div>
            <input type="text" name="text" id="" placeholder="Поиск по тексту комментария">
            <button type="submit">Найти</button>
        </form>
        {% for comm in comments %}
        <div>
            <h1>{{ comm.id }}</h1>
            <h1>{{ comm.pharmacyname }}</h1>
        </div>        
        {% endfor %}
    {% else %}
    <a href="admin">Логин в админку</a>
    {% endif %}
</body>
</html>